.footer {
  border-top: 1px solid rgb(241, 245, 249);
  background-color: white;
  padding: 3rem 1.5rem;
}

.footer_content {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.footer_copyright {
  font-size: 0.875rem;
  color: rgb(148, 163, 184);
  font-weight: 300;
}

.footer_links {
  display: flex;
  gap: 2rem;
}

.footer_links a {
  font-size: 0.875rem;
  color: rgb(148, 163, 184);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer_links a:hover {
  color: rgb(15, 23, 42);
}

/* Tablet y Desktop */
@media (min-width: 768px) {
  .footer_content {
    flex-direction: row;
  }
}
